.feature__container {
  padding: $spacing * 4 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    align-self: flex-start;
  }
}

.feature__items-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin-top: $spacing * 2;

  .feature__item {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &-image {
      border-radius: $spacing;
      margin-bottom: $spacing;
    }

    &-name {
      text-transform: capitalize;
    }
  }
  @include respond-to("small") {
    .feature__item {
      grid-column: span 3;
    }
  }
}
