#no-order-selected{
  text-align: center;
  margin: 50% 0px;
}
#order-info-container{
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  margin: 20px 0px;
}

th{
  width: 40%;
}

#order-button-container{
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#order-button-container button:first-child{
  margin-right: 15px;
}

button a, button a:hover{
  text-decoration: none;
  color:#28a745
}

#whatsapp-button:hover{
  color: #FFF;
}
