input,
textarea {
  background-color: inherit;
  width: 100%;
  padding: $spacing $spacing;
  border: none;
  border-bottom: 1px solid lighten($color: $brand-color, $amount: 40);
  outline: none;
  resize: none;

  transition: $transition;
  
  &:focus{
    background-color: $light-grey;
  }
  &:invalid{
    outline: none;
  }
}

.input__error-message {
  color: lighten($color: #f00, $amount: 15);
  margin-top: $spacing / 2;
}