/* ------------------------- MENU PAGE -----------------------------------*/
h3 {
  margin: 0px;
}

#menu-container,
#menu-category-container {
  background-color: rgba(255, 31, 23, 0.7);
  min-height: calc(100vh - 80px);
  padding: 0px 4.16%;
}

#menu-categories,
#menu-category-items-container {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#menu-categories figure,
#menu-category-items-container figure {
  display: flex;
  flex-direction: column;
  width: calc((100% - 8.33vw) / 2);
  margin-bottom: 30px;
  cursor: pointer;
}

#menu-categories img,
#menu-category-items-container img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

#menu-categories a,
#menu-categories a:hover {
  color: #ffffff;
  text-decoration: none;
}

#menu-category-container .toast-body,
#cart-container .toast-body {
  background-color: greenyellow;
}

.section-title {
  line-height: 60px;
  width: 100%;
  padding-top: 20px;
}

/*---------------------------- ITEM PAGE ----------------------*/
#item-modal .modal-content {
  /* border: 3px solid rgb(255, 127, 12); */
  border: none;
  max-width: max-content;
  margin: auto;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: rgba(255, 31, 23, 0.7);
}

#item-container {
  margin-top: -2px;
  margin-bottom: 0px;
}

#item-container img {
  margin-bottom: 10px;
  width: 100%;
}

#item-sections {
  padding: 0px 4.16%;
}

#item-container #first-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#item-container #price-title {
  display: none;
}

#item-container #second-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#item-container #item-ingredients {
  margin-right: 15px;
}

#item-container #item-control {
  min-width: 140px;
}

#item-container input {
  width: 50px;
  text-align: center;
  height: 40px;
  background-color: #ffffff;
  /* border: 1px solid #000; */
  font-size: 1.5em;
}

.less-button {
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 1.5em;
}

.add-button {
  border: 1px solid green;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 1.5em;
}

#item-container #third-section {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

#add-to-cart-button {
  background: #ff7f0c;
  border: 1px solid #ff1f17;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  height: 40px;
  width: 150px;
  font-size: 1.25em;
}

@media (min-width: 576px) {
  #close-modal {
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }

  #item-container {
    display: flex;
    margin-top: -1px;
    align-items: center;
  }

  #item-container img {
    margin: 30px 0px;
    padding: 20px;
    border-radius: 30px;
    max-width: calc(50% + 20px);
    height: 50%;
  }

  #item-sections {
    max-width: 50%;
    padding: 20px 20px 20px 0px;
  }

  #item-container #first-section {
    flex-direction: column;
  }

  #item-container #item-name {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #item-container #item-price h4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 35px;
  }

  #item-container #price-title {
    display: inline;
  }

  #second-section {
    flex-direction: column;
  }

  #item-container #item-ingredients {
    min-width: 100%;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  #item-control {
    margin: auto;
  }

  #item-container #third-section {
    margin-bottom: 0px;
  }
}
