$columns: 12;
$image-border-radius: $spacing;
$grid-gap-default: $spacing * 2;
$grid-cols-default: 2;
$grid-cols-small: 4;

.menu__categories {
  &-container {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $grid-gap-default;
  }

  &-loader {
    grid-column: span $columns;
  }

  &-item {
    grid-column: span $columns / $grid-cols-default;
    position: relative;

    &-image {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      border-radius: $image-border-radius;
    }

    &-title {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      color: $light-grey;
      background-color: rgba($color: $dark-grey, $alpha: 0.5);
      border-radius: $image-border-radius;
    }

    &:hover {
      cursor: pointer;
    }
  }
  @include respond-to("small") {
    &-item {
      grid-column: span $columns / $grid-cols-small;
    }
  }
  @include respond-to("medium") {
    &-item {
      &-title {
        font-size: 1.3rem;
      }
    }
  }
  @include respond-to("large") {
    &-item {
      &-title {
        font-size: 1.8rem;
      }
    }
  }
}

.menu__products {
  &-list {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    row-gap: 2rem;

    &-item {
      grid-column: span $columns;
      cursor: pointer;

      &-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: $image-border-radius;
      }
      &-name {
        display: block;
        font-weight: bold;
      }
      &-price {
        display: block;
      }
    }
  }
  @include respond-to("small") {
    &-list {
      column-gap: 2rem;

      &-item {
        grid-column: span $columns / 2;
      }
    }
  }
  @include respond-to("medium") {
    &-list {
      &-item {
        grid-column: span $columns / 3;
      }
    }
  }
  @include respond-to("large") {
    &-list {
      &-item {
        grid-column: span $columns / 4;
      }
    }
  }
}
