@media screen and (min-width: 768px) {
  #choose-user-container {
    display: flex;
    padding-top: 2rem;
  }
  #choose-user-container > #login-container {
    margin: 0;
  }
  #login-container {
    min-width: 50%;
    border-right: 1px solid #ff1f17;
    padding: 0vw 8vw;
  }
  #checkout-as-guest {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  #checkout-as-guest > * {
    margin-bottom: 1.5rem;
  }
}

#checkout-as-guest {
  padding: 0 8.33%;
}

#guest-checkout-modal label,
#guest-checkout-modal h5 {
  color: #ff1f17;
}

#guest-checkout-modal #guest-modal-continue-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

#guest-modal-close-button {
  align-items: center;
  color: #ff1f17;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 50px;
}

select {
  text-transform: capitalize;
}