/* ----------------- CART PAGE ------------------ */
#cart-products {
  max-width: 600px;
  padding: 20px 8.33%;
  width: 100%;
}

.cart-item {
  border: 1px solid #ff7f0c;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  padding: 0px 1rem;
}

.card-item-title {
  font-weight: bold;
  min-width: 100%;
  margin: 0.5rem 0px;
  position: relative;
}

.card-item-title span {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.cart-item-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0px;
  width: 100%;
}

.card-item-content-details {
  align-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item-buttons {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  width: 7rem;
}

.cart-item-buttons > * {
  min-width: 2rem;
  max-width: 2.6rem;
}

.cart-item-buttons input {
  border-radius: 0.25rem;
  display: inline;
  margin: 0rem 0.25rem;
  text-align: center;
}

.cart-item-price {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.cart-item-price .price-label {
  display: none;
}

.cart-item-total-section {
  min-width: 100%;
}

.cart-item-total-section h5 {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 0px;
}

.cart-item-image {
  margin-left: 1rem;
  min-width: 6.5rem;
  max-width: 6.5rem;
}

.cart-item-image img {
  border-radius: 0.75rem;
  height: 6rem;
  width: 100%;
}

#cart-resume-preview {
  display: flex;
  justify-content: space-between;
}

#cart-resume {
  float: right;
  margin-bottom: 100px;
  padding-right: 8.33%;
  width: 19rem;
}

#cart-empty {
  padding: 3rem 20%;
}

#order-now-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: flex;
  height: 6.5rem;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#order-now {
  background-color: rgb(255, 127, 12);
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: bold;
  height: 3rem;
  width: 40%;
}

#order-now:hover {
  background-color: rgb(216, 101, 0);
}

@media screen and (min-width: 375px) {
  .card-item-content-details {
    width: calc(100% - (6.5rem + 1rem));
  }
}

@media screen and (max-width: 374px) {
  .cart-item-total-section {
    min-width: 100%;
  }
  .cart-item-image {
    display: none;
  }
  #cart-resume {
    padding-left: 8.33%;
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .cart-item-buttons {
    width: 100%;
  }

  .cart-item-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .cart-item-price .price-label {
    display: inline-block;
  }
}

@media screen and (max-width: 859px) {
  #cart-products {
    margin: auto;
  }
}

@media screen and (min-width: 860px) {
  #cart-container {
    display: grid;
    grid-template-columns: repeat(12, calc(100% / 12));
    grid-template-rows: 3.75rem repeat(
        5,
        calc((100vh - 80px - 3.75rem - 65px) / 5)
      );
    height: calc(100vh - 80px);
  }

  .section-title {
    grid-area: 1 / 1 / 2 / 13;
    padding-top: 0rem !important;
  }

  #cart-products {
    grid-area: 2 / 2 / 7 / 7;
    overflow: auto;
    padding-left: 0rem;
  }

  #cart-empty {
    grid-area: 3 / 4 / 6 / 10;
    padding: 0rem;
  }

  #cart-resume {
    align-self: center;
    grid-area: 2 / 7 / 3 / 12;
    margin-bottom: 0rem;
    padding-left: 8.33%;
    padding-right: 0rem;
    width: 100%;
  }

  #order-now-container {
    grid-area: 3 / 7 / 4 / 12;
    padding-left: 8.33%;
    position: relative;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    box-shadow: inset 0 0 5px grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff7f0c;
    border-radius: 0.5rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

#checkout-as-guest {
  padding: 0 8.33%;
}

#guest-checkout-modal label,
#guest-checkout-modal h5 {
  color: #ff1f17;
}

#guest-checkout-modal #guest-modal-continue-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

#guest-modal-close-button {
  align-items: center;
  color: #ff1f17;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 50px;
}

@media screen and (min-width: 768px) {
  #choose-user-container {
    display: flex;
  }
  #login-container{
      min-width: 50%;
      border-right: 1px solid #ff1f17;
  }
  #checkout-as-guest{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
  }
  #checkout-as-guest > * {
      margin-bottom: 1.5rem;
  }
}

select {
    text-transform: capitalize;
}

#confirm-data-container {
  padding: 0 8.33%;
}

#confirm-data-container #user-info-buttons-container {
  display: none;
}

#confirm-data-container #control-buttons {
  display: flex;
  justify-content: space-around;
}

#cart-resume-checkout {
  padding: 15px 10%;
}

#checkout-container {
  height: calc(100vh - 80px);
  padding: 0 8.33%;
}

#checkout-form {
  margin-bottom: 10px;
  padding: 20px 10%;
}

#checkout-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#transaction-status-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 16.66%;
}

#transaction-status-container > * {
  margin-bottom: 30px;
}

#transaction-status-container #redirect-buttons > * {
  margin-bottom: 20px;
}

.delete-order-modal .modal-content {
  padding: 20px 8.33%;
}

#close-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.delete-order-modal .modal-content .delete-order-modal-title {
  margin-bottom: 20px;
}

.delete-order-button-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.delete-order-button-container button:nth-child(1) {
  margin-right: 15px;
}
