/* ----------------------- FEATURED PRODUCTS --------------------- */
#featured-products {
  background-color: rgba(255, 31, 23, 0.8);
  position: relative;
}

.featured-products-title {
  margin-left: 8.33%;
  margin-bottom: 20px;
  padding-top: 30px;
  line-height: 30px;
}

@media (max-width: 349px) {
  .featured-products-title {
    font-size: 25px;
  }
}

.featured-products-container {
  display: flex;
  flex-wrap: nowrap;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0px 8.33%;
  padding-bottom: 60px;
}

.featured-products-item:nth-child(2) {
  padding: 0px 10px;
}

.featured-products-item img {
  width: 25vw;
  height: auto;
  border-radius: 15px;
  margin-bottom: 10px;
}

.featured-products-item figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  max-width: 25vw;
  overflow-x: auto;
}

.featured-products-item figcaption::-webkit-scrollbar {
  display: none;
}
.featured-products-item figcaption {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.featured-products-view-all {
  position: absolute;
  height: 33px;
  width: 30vw;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -170%);
  transform: translate(-50%, -170%);
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 127, 12);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-products-view-all:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(255, 127, 12, 0.7);
}
