#order-tracker {
  background-color: var(--secondary-color-hex);
  color: #fff;
  padding: 2rem 8vw;
}

#order-tracker-title {
  margin-bottom: 1rem;
}

#order-tracker-search input {
  background-color: transparent;
  color: #fff;
}

#order-tracker-search .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

#order-tracker-search .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

#order-tracker-search .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

#order-tracker-search > *{
  z-index: 0;
}