
h1{
  margin: 0!important;
  padding: 0;
}

a {
  text-decoration: none!important;
  color: #ff1f17!important;
}

#header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

/* Foodies */
.brand-name {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;

  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  line-height: 55px;
}

/* Brand Colors*/
.brand-color-main {
  color: #ff1f17;
}

/* Burger Icon*/
.burger-line {
  width: 35px;
  height: 5px;
  margin: 5px 0;
  background: #ff0000;
  border-radius: 5px;
}

.burger-line:first-child{
  margin-top: 0px;
}

.burger-line:last-child{
  margin-bottom: 0px;
}

#burger-icon {
  position: absolute;
  width: 35px;
  height: 25px;
  right: 7%;
  top: calc((80px - 25px)/2);
  cursor: pointer;
}