:root{
  --header-height: 80px;
}
@media(max-width: 349px){
  :root{
    --header-height: 70px
  }
}
body {
  overscroll-behavior-y: none;
}

.ad2hs-prompt {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
}

/* Brand Colors*/
.brand-color-main {
  color: #ff1f17;
}

.brand-color-secondary {
  color: #ffffff;
}

.brand-background-color-main {
  background-color: #ff1f17;
}

.brand-font-family {
  font-family: "Montserrat Alternates", sans-serif;
}

#main-container{
  margin-top: var(--header-height);
}

/* --------------------------- ABOUT US ------------------------- */
#about-us {
  padding: 40px 8.27vw;
}

#about-us h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* ----------------------- FEATURED PRODUCTS --------------------- */
#featured-products {
  background-color: rgba(255, 31, 23, 0.8);
  position: relative;
}

.featured-products-title {
  margin-left: 8.33vw;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.featured-products-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8.33vw;
  padding-bottom: 60px;
}
.featured-products-item img {
  max-width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
}
.featured-products-item figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.featured-products-view-all {
  position: absolute;
  height: 33px;
  width: 30vw;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -170%);
  transform: translate(-50%, -170%);
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 127, 12);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-products-view-all:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(255, 127, 12, 0.7);
}

/*------------------------------ LOCATION -----------------------------*/
#location h2:first-child {
  padding-left: 8.33vw;
  padding-top: 30px;
  padding-bottom: 20px;
}
.location-map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 8.33vw;
}
.location-map iframe {
  width: calc(100%);
  height: 160px;
  margin-bottom: 10px;
}

/*------------------------- WORKING HOURS -------------------------------*/
#working-hours,
#contact {
  padding: 20px 8.33vw;
}

/* ------------------------- MENU PAGE -----------------------------------*/
#menu-container,
#menu-category-container {
  background-color: rgba(255, 31, 23, 0.7);
  min-height: calc(100vh - 80px);
  padding-top: 20px;
}

#menu-categories,
#menu-category-items-container {
  padding: 0px 8.33vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

#menu-categories figure,
#menu-category-items-container figure {
  display: flex;
  flex-direction: column;
  width: calc((100% - 8.33vw) / 2);
  margin-bottom: 30px;
  cursor: pointer;
}

#menu-categories img,
#menu-category-items-container img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

#menu-categories a,
#menu-categories a:hover {
  color: #ffffff;
  text-decoration: none;
}

#menu-category-container .toast-body,
#cart-container .toast-body {
  background-color: greenyellow;
}

/*---------------------------- ITEM PAGE ----------------------*/
#item-modal .modal-content {
  border: 3px solid rgb(255, 127, 12);
  max-width: max-content;
  margin: auto;
}

#item-container {
  padding: 20px 8.33vw;
  margin-bottom: 0px;
}

#item-container img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#item-container #first-section {
  display: flex;
  justify-content: space-between;
}

#item-container #second-section {
  display: flex;
  justify-content: flex-end;
}

#item-container #third-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#item-container input {
  width: 20%;
  text-align: center;
}

.less-button {
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-right: 5px;
}

.add-button {
  border: 1px solid green;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-left: 5px;
}

#add-to-cart-button {
  background: #ff7f0c;
  border: 1px solid #ff1f17;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
}

/* ----------------- CART PAGE ------------------ */
#cart-products {
  width: 100%;
  padding: 20px 8.33%;
}

.cart-item {
  border: 3px solid #ff7f0c;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.cart-item-content {
  width: 100%;
  padding-right: 10px;
}

#cart-item-content-second-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#cart-item-buttons {
  width: 60%;
}

#cart-item-total-section h5 {
  display: flex;
  justify-content: space-between;
}
.cart-item-image {
  width: 40%;
}

.cart-item-image img {
  width: 100%;
  border-radius: 10px;
}

.cart-item input {
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

#cart-resume-preview,
#cart-resume-delivery,
#cart-resume-total {
  display: flex;
  justify-content: space-between;
}

#cart-resume {
  padding-left: 40%;
  padding-right: 8.33%;
  margin-bottom: 100px;
}

#cart-empty {
  padding: 50px 20%;
}

#order-now-container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  width: 100%;
  height: 100px;
}

#order-now {
  border: none;
  background-color: rgb(255, 127, 12);
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  height: 50px;
  width: 40%;
}

#order-now:hover {
  background-color: rgb(216, 101, 0);
}

#checkout-as-guest {
  padding: 0 8.33%;
}

#guest-checkout-modal label,
#guest-checkout-modal h5 {
  color: #ff1f17;
}

#guest-checkout-modal #guest-modal-continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#guest-modal-close-button {
  position: absolute;
  right: 0;
  color: #ff1f17;
  font-size: 1.5rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirm-data-container {
  padding: 0 8.33%;
}

#confirm-data-container #user-info-buttons-container {
  display: none;
}

#confirm-data-container #control-buttons {
  display: flex;
  justify-content: space-around;
}

#cart-resume-checkout {
  padding: 15px 10%;
}

#checkout-container {
  padding: 0 8.33%;
  height: calc(100vh - 80px);
}

#checkout-form {
  padding: 20px 10%;
  margin-bottom: 10px;
}

#checkout-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

#transaction-status-container {
  padding: 20px 16.66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#transaction-status-container > * {
  margin-bottom: 30px;
}

#transaction-status-container #redirect-buttons > * {
  margin-bottom: 20px;
}

.delete-order-modal .modal-content {
  padding: 20px 8.33%;
}

#close-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-order-modal .modal-content .delete-order-modal-title {
  margin-bottom: 20px;
}

.delete-order-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.delete-order-button-container button:nth-child(1) {
  margin-right: 15px;
}
/*------------------------------  LOGIN PAGE  -------------------------------*/
#login-container {
  padding: 20px 8.33%;
}

#no-match {
  padding: 20px 8.33%;
}

#cart-floating-button-home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  background-color: rgba(255, 127, 12, 0.7);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff7f0c;
  border-radius: 50%;
  cursor: pointer;
}

#cart-floating-button-home:hover {
  background-color: rgba(196, 95, 6, 0.7);
}

#cart-floating-button-home svg {
  color: #fff;
  width: 25px;
  height: 25px;
}

#cart-floating-button-home:hover svg {
  color: rgb(212, 211, 211);
}

#footer {
  background-color: #ff7f0c;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer a {
  color: #ffffff;
}

#footer a:hover {
  color: #f0ff17;
  text-decoration: none;
}

#order {
  padding: 20px 8.33%;
}
