/* h1 {
  margin: 0 !important;
  padding: 0;
} */

a {
  text-decoration: none;
  color: #ff1f17;
}

#header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

/* Foodies */
.brand-name {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;

  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  line-height: 55px;
}

/* Brand Colors*/
.brand-color-main {
  color: #ff1f17;
}

.brand-color-secondary {
  color: #ffffff;
}

.brand-background-color-main {
  background-color: #ff1f17;
}

.brand-font-family {
  font-family: "Montserrat Alternates", sans-serif;
}

/* Burger Icon*/
.burger-line {
  width: 35px;
  height: 5px;
  margin: 5px 0;
  background: #ff0000;
  border-radius: 5px;
}

.burger-line:first-child {
  margin-top: 0px;
}

.burger-line:last-child {
  margin-bottom: 0px;
}

#burger-icon {
  position: absolute;
  width: 35px;
  height: 25px;
  right: 7%;
  top: calc((80px - 25px) / 2);
  cursor: pointer;
}

/*---------------------------  HERO  -----------------------------*/

#hero {
  position: relative;
}

#hero-caption-container {
  position: absolute;
  width: 83vw;
  height: 11vw;
  left: 8vw;
  top: 6.3vw;
  background: rgba(255, 31, 23, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-caption {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8vw;
  line-height: 10.46vw;
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
}

#hero-button-container {
  position: absolute;
  width: 33vw;
  height: 14.35vw;
  left: 8.27vw;
  top: 42.25vw;
  background: rgba(255, 31, 23, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

#hero-button-container:hover {
  background: rgba(255, 127, 12, 0.7);
}

#hero-button {
  width: 33vw;
  height: 14.35vw;
  left: 8.27vw;
  top: 36.25vw;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6.1vw;
  line-height: 7.3vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff !important;
}

@media (min-width: 576px) and (max-width: 767px) {
  #hero {
    background: url(https://firebasestorage.googleapis.com/v0/b/cloudstorage-abfc4.appspot.com/o/images%2FrestaurantHero2.jpg?alt=media&token=ccb5697d-4549-484c-839e-1071a7c7d4d4)
      no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 67.09vw;
    min-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #hero {
    background: url(https://firebasestorage.googleapis.com/v0/b/cloudstorage-abfc4.appspot.com/o/images%2FrestaurantHero2.jpg?alt=media&token=ccb5697d-4549-484c-839e-1071a7c7d4d4)
      no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 63.09vw;
    max-height: calc(100vh - 80px);
  }
}

@media (min-width: 993px) {
  #hero {
    background: url(https://firebasestorage.googleapis.com/v0/b/cloudstorage-abfc4.appspot.com/o/images%2FrestaurantHero2.jpg?alt=media&token=ccb5697d-4549-484c-839e-1071a7c7d4d4)
      no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 48vw;
    min-width: 100%;
  }

  #hero-caption-container {
    position: absolute;
    width: 70vw;
    height: 10vw;
    left: calc((100vw - 70vw) / 2);
    top: 5.6vw;
    background: rgba(255, 31, 23, 0.6);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero-caption {
    font-size: 6vw;
  }

  #hero-button-container {
    position: absolute;
    width: 25vw;
    height: 11.8vw;
    left: 8.27vw;
    top: 26.25vw;
    background: rgba(255, 31, 23, 0.7);
    border-radius: 5px;
    cursor: pointer;
  }

  #hero-button {
    font-family: "Montserrat Alternates", sans-serif;
    width: 25vw;
    height: 11.8vw;
    font-size: 5.3vw;
    line-height: 6vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff !important;
  }
}

/* --------------------------- ABOUT US ------------------------- */
#about-us {
  padding: 40px 8.27vw;
}

#about-us h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* ----------------------- FEATURED PRODUCTS --------------------- */
#featured-products {
  background-color: rgba(255, 31, 23, 0.8);
  position: relative;
}

.featured-products-title {
  margin-left: 8.33vw;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.featured-products-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8.33vw;
  padding-bottom: 60px;
}
.featured-products-item img{
  max-width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
}
.featured-products-item figcaption{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.featured-products-view-all{
  position: absolute;
  height: 33px;
  width: 30vw;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -170%);
  transform: translate(-50%, -170%);
  border-radius: 5px;
  border:none;
  background-color: rgba(255, 127, 12);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-products-view-all:hover{
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(255, 127, 12, 0.7);
}